#navbar {
    direction: rtl;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-image: linear-gradient(#e9ddbf, #e9ddbf00);
    /* margin-bottom: 5vh; */
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-VariableFont_wght.ttf);
}

#route-link {
    color: #3c3c3c;
    font-family: Heebo;
    /* margin-left: 8vw; */
    /* margin-right: 8vw; */
    transition: 100ms;
    display: flex;
    width: 120px;
    justify-content: center;
}

#route-link:hover {
    /* background-color: red !important; */
    font-weight: 800;
}