#navbar {
    direction: rtl;
    position: fixed;
    display: flex;
    align-items: top;
    justify-content: center;
    height: 60px;
    width: 100%;
    top: 0px;
    z-index: 9;
    background-image: linear-gradient(#e9ddbf, #fff6e500);
    /* margin-bottom: 5vh; */
}

@font-face {
    font-family: Heebo;
    src: url(fonts/Heebo-VariableFont_wght.ttf);
}

#logo{
    height: 32px;
    width: 32px;
    position: absolute;
    right: 20px;
    top: 4px;
}

#route-link {
    top: 8px;
    position: relative;
    color: #3c3c3c;
    font-family: Heebo;
    /* margin-left: 8vw; */
    /* margin-right: 8vw; */
    transition: 100ms;
    display: flex;
    width: 120px;
    justify-content: center;
}

#route-link:hover {
    /* background-color: red !important; */
    font-weight: 800;
}